<!DOCTYPE html>
<html>

<head>
    <title>{{ site }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="/static/index.css">
</head>

<body>
    <div class="container">
        {{ name }}
    </div>

    <form method="POST">
        <input type="text" name="name">
        <button>submit</button>
    </form>

    <div class="container">
        <ul>
            {% for post in posts %}
            <li>{{ post[0] }}: {{ post[1] }}</li>
            {% endfor %}
        </ul>
    </div>

    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
</body>

</html>